@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="Width" class="form-label">Width</label>
                <input class="form-control" id="Width" placeholder="500" value="500">
            </div>
            <div class="mb-3">
                <label for="Height" class="form-label">Height</label>
                <input class="form-control" id="Height" placeholder="50" value="50">
            </div>
            
            <div class="mb-3">
                <label for="Lines" class="form-label">Lines</label>
                <textarea class="form-control" id="Lines" rows="3">Hello World</textarea>
            </div>
            
            <button onclick="generate()" class="btn btn-primary rounded-1">Generate</button>
        </div>

        <div class="col">
            <img id="generated" src="" alt="typing svg"/>
            <a id="generatedLink"></a>
        </div>
    </div>
</div>



<script type="text/javascript">
    window.addEventListener("load", () => {
        generate();
    })

    // parse the input text, replaces spaces with '+' and seperates lines by ';'
    function parseLines () {
        let textArea = document.getElementById("Lines");
        let text = textArea.value.replace(' ', '+').split('\n');
        return text.join(';');
    }

    function generate() {
        let ele = document.getElementById("generated");
        
        let lines = parseLines();
        
        //
        let width = document.getElementById("Width").value;
        let height = document.getElementById("Height").value;
        
        let link = `/Typing?height=${height}&width=${width}&Lines=${lines}`;
        ele.src = link;
        document.getElementById("generatedLink").innerHTML = link;
        document.getElementById("generatedLink").href = link;
        
    }


</script>